# LightRAG/.env

# Environment variables for automate_update_data.py
CRAWL_DIR=data/crawl_tiki_data
COMPARE_DIR=data/compare_data
DAYS_TO_KEEP=7
INSERT_BATCH_API=http://localhost:8000/insert_custom_kg
QUERY_API=http://localhost:8000/query
LOG_FILE=logs/update_data.log
LOG_FILE_MODE=w

# Environment variables for get_books.py
BOOKS_CRAWL_LIMIT=3000
# Number of categories to get books from
NUM_CATEGORIES=40

# Environment variables for lightrag_ollama_demo_api.py
DEFAULT_QUERY_MODE=local
TOP_K=6
# extract entities model
LLM_MODEL_NAME=lightrag-qwen2.5-7b-instruct
LLM_RESPONSE_MODEL_NAME=gemma2:9b
EMBED_MODEL=nomic-embed-text
# The document list is divided into batches running in parallel, each batch up to INSERT_BATCH_SIZE, documents in each batch are processed sequentially
INSERT_BATCH_SIZE=5